/* Global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #28282B;
    color: white;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 70px 40px auto;
    width: 100%;
}


/* Header */
header{
    grid-area: 1 / 1 / 1 / span 12;
    background-color:#27373d;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav{
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
}

header nav li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    transition: text-shadow 1s, color 1s;
}

header nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #92e3a9;
    transform-origin: bottom right;
    transition:  transform 0.50s ease-out;
}

header nav li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header nav li:hover{
    text-shadow:seashell 1px 0 10px ;
    color: white;
}

header nav li a {
    text-decoration: none;
    color: seashell;
    font-size: 1.5rem;
    font-weight: bold;
}

/* main (about me) */
main{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 500px auto;
    column-gap: 10px;
    grid-area: 3 / 1 / 3 / span 12;
    background-color:#28282B;
}

.mainText{
    grid-area: 1 / 3 / 1 / span 4;
    background-color: #28282B;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    line-height: 1.6;
    text-align: justify;
    font-size: 1.1rem;
}

.mainText h1{
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(to right,#daf2e2,#92e3a9,#415e55);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainText span {
    color: #92e3a9;
    font-style: italic;
    font-weight: bold;
}

.mainImage{
    width: 100%;
    grid-area: 1 / 8 / 1 / span 3 ;
    background-color: #28282B;
}

.mainImage img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    
}
